 * {
     margin: 0;
     padding: 0;
 }

 main {
     position: relative;
     width: 100%;
     overflow: hidden;
 }

 /* TEXT MOBIL*/

 p,
 h1,
 h2 {
     color: #263d80;
 }

 p {
     font-family: 'Helvetica';
 }

 h1,
 h2,
 h3 {
     font-family: 'Calistoga', cursive;
     font-size: 40px;
 }

 a {
     font-family: 'Calistoga', cursive;
 }

 /*  FOOTER  MOBIL*/

 footer img {
     width: 5rem;
 }

 footer {
     background-color: #263d80;
     padding: 3em 2em;
     padding-bottom: 6em;
     display: grid;
     grid-gap: 10px;
 }

 footer p {
     color: #fff;
 }

 /*  BUTTON MOBIL  */

 button {
     color: #fff;
     background-color: #263d80;
     border-radius: 25px;
     border: none;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
     padding: 1em 2em;
     max-width: 200px;
 }


 /*   SPLASH MOBIL*/
 #splash {
     background-color: #263d80;
 }

 #splash img {
     max-width: 100%;
     height: 90vh;
 }

 #splash_container {
     position: absolute;
     z-index: 2;
     margin-top: 50vw;
     margin-left: 10vw;
 }

 #splash_container h1,
 #splash_container,
 h2 {
     color: #fff;
 }

 @media (max-width: 800px) {
     .overlay img {
         display: none;
     }

     #splash video {
         display: none;
     }
 }

 #splash_img {
     width: 100vw;
     height: 80vh;
     background-image: url(lights.jpg);


 }


 /*  INTRO MOBIL*/
 #intro {
     padding: 3em 2em;
     display: grid;
     grid-gap: 20px;
 }

 #intro h1 {
     margin-bottom: 1rem;
 }


 /*  FACTS MOBIL*/
 #facts {
     background-color: #fdecd7;
     padding-top: 3em;
 }

 #can {
     background-color: #bee0da;
 }

 #can img {
     max-width: 100%;
 }

 #beerinfo {
     background-color: #fff;
     padding: 3em 2em;
 }

 /* SMELL  AND TASTE MOBIL*/

 #smellandtaste {
     background-color: #263d80;
     color: #fff;
     padding: 3em 2em;
     display: grid;
     grid-gap: 20px;
 }

 #smellandtaste p,
 #smellandtaste h2 {
     color: #fff;
 }


 /*  DATA MOBIL */
 #data {
     background-color: #bee0da;
 }

 #datagrid {
     padding: 3em 2em;
     display: grid;
     grid-gap: 20px;
     grid-template-columns: repeat(3, 1fr);
 }

 #personer img {
     display: list-item;
     width: 70px;
     cursor: pointer;
 }

 #personer {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     max-width: 700px;
     height: 200px;
 }

 #person1 {
     grid-column: 1/1;
 }

 #person2 {
     grid-column: 2/2;
 }

 #person3 {
     grid-column: 3/3;
 }

 #person4 {
     grid-column: 4/4;
 }

 #personer img:hover {
     width: 100px;
 }

 #graph {
     background-color: #fff;
     padding: 3em 2em;
     border-radius: 10px;
     box-shadow: 0px 5px 10px #263d80;
 }

 #databeskrivelse div {
     padding: 3em 2em;
 }

 #databeskrivelse div h1 {
     margin-bottom: 1rem;
 }

 #databeskrivelse {
     grid-column: 1/4;
     grid-row: 1/1;
 }

 #graph {
     grid-column: 1/4;
     grid-row: 2/2;
 }

 #graphinfo {
     grid-column: 1/4;
     grid-row: 4/4;
 }

 #holder {
     background-color: #263d80;
     border-radius: 25px;
     color: #fff;
     padding: 1em 2em;
 }


 #graphinfo {
     background-color: #fff;
     padding: 3em 2em;
     margin-top: 20px;
     border-radius: 10px;
     box-shadow: 0px 5px 10px #263d80;
     display: grid;
     grid-gap: 20px;
 }


 /*  GAME MOBIL*/
 #game {
     background-color: #fdecd7;
     padding: 3em 2em;
 }

 #containergame {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     max-width: 1000px;
     margin: 0 auto;
     justify-content: space-between;
 }

 #containergame img {
     max-width: 300px;
 }

 #logotilgame {
     flex-grow: 1;
     flex-basis: 400px;
 }

 #gamedescription {
     flex-grow: 1;
     flex-basis: 500px;
     margin: auto;
 }

 #gamedescription h1 {
     padding-bottom: 1rem;
 }

 #gamedescription p {
     padding-bottom: .8rem;
 }

 #gamedescription #play {
     margin-bottom: 1rem;
     margin-top: 3rem;
 }


 /* PLAY GAME MOBIL*/
 #playgame {
     background-color: #fdecd7;
     border-radius: 10px;
     padding: 3em 2em;
     display: grid;
     grid-template: repeat(1fr);
     grid-gap: 20px;
     width: 500px;
 }

 #playgame button {
     width: 200px
 }


 .svarmulighed {
     color: #fff;
     background-color: #263d80;
     border-radius: 25px;
     border: none;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
     padding: 1em 2em;
     width: 200px;
     height: 20px;

 }

 /*   HEADER   */

 header nav {
     left: 0;
     bottom: 0;
     right: 0;
     padding: 0px 0px;
     height: 80px;
     background-color: #f2f2f2;
     z-index: 100;
     position: fixed;

 }

 #menuknap {
     margin-top: 3px;
     display: inline-block;
     margin-left: 80vw;
 }

 #menu {
     transition: transform 0.3s;
     transform-origin: top left;
 }

 header ul li {
     list-style: none;
 }

 x header ul li a {
     text-decoration: none;
     color: Black;

 }

 .burger_svg {
     background-image: url(SVG/menu-outline.svg);
     height: 50px;
     width: 50px;
 }

 .cross_svg {
     background-image: url(SVG/close-circle-outline.svg);
     height: 50px;
     width: 50px;
 }


 /*   CLASSES */
 .hide {
     display: none;
 }

 .hidden {
     opacity: 1;
     transform: translateY(-125%);
 }

 /*----MENU MOBIL------*/

 @media (max-width:800px) {
     header ul {
         display: flex;
         flex-direction: column;
         background-color: #fff;

     }

     header ul li {
         margin: 20px 20px;

     }

     header li a {
         color: Black;
         text-decoration: none;
         display: inline-block;
         font-size: 25px;
     }

     #graph img {
         display: none;
     }
 }

 /*------MENU WEB------*/
 @media (min-width: 800px) {

     header nav {
         top: 0;

     }

     #menuknap {
         display: none;
     }


     header ul {
         max-width: 500px;
         margin: 0px auto;
         display: flex;
         justify-content: space-between;
         align-items: center;
         height: 80px;
     }

     header li a {
         color: Black;
         text-decoration: none;
         display: inline-block;
         font-size: 25px;
     }

     #containergame img {
         max-width: 100%;
     }
 }

 /*   KEYFRAMES    */

 .pulse {
     animation: pulse 2s ease-in-out infinite;

 }

 @keyframes pulse {
     0% {
         transform: scale(.9);
     }


     50% {
         transform: scale(1.0);
     }

     100% {
         transform: scale(.9);
     }
 }


 @media only screen and (min-width: 600px) and (max-width:900px) {
     .overlay img {
         display: none;
     }

     #facts {
         display: grid;
         grid-template-columns: repeat(10, 1fr);
         grid-template-rows: repeat(17, .2fr);
         padding: 0;
     }

     #can {
         grid-column: 3/9;
         grid-row: 2/8;
         z-index: 2;
     }

     #beerinfo {
         grid-column: 3/9;
         grid-row: 13/17;
         z-index: 3;
     }

     #smellandtaste {
         grid-column: 3/9;
         grid-row: 8/13;
         display: flex;
         justify-content: center;

     }

     #smellandtaste .container {
         max-width: 300px;
     }

 }

 @media only screen and (min-width: 900px) {

     footer {
         background-color: #263d80;
         padding: 3em 2em;
         padding-bottom: 0;
         display: grid;
         grid-gap: 10px;
     }


     #facts {
         display: grid;
         grid-template-columns: repeat(10, 1fr);
         grid-template-rows: repeat(13, .2fr);
         padding: 0;
     }

     #can {
         grid-column: 2/6;
         grid-row: 4/7;
         z-index: 2;
     }

     #beerinfo {
         grid-column: 3/9;
         grid-row: 8/12;
         z-index: 3;
     }

     #smellandtaste {
         grid-column: 5/10;
         grid-row: 2/8;
         display: flex;
         justify-content: flex-end;

     }

     #smellandtaste .container {
         max-width: 300px;
     }

 }

 @media (min-width: 1200px) {
     /*   FACTS     */

     #facts {
         display: grid;
         grid-template-columns: repeat(10, 1fr);
         grid-template-rows: repeat(9, .2fr);
         padding: 0;
     }

     #can {
         grid-column: 2/5;
         grid-row: 2/6;
         z-index: 2;
     }

     #beerinfo {
         grid-column: 4/7;
         grid-row: 5/9;
         z-index: 3;
     }

     #smellandtaste {
         grid-column: 3/10;
         grid-row: 3/8;
         display: flex;
         justify-content: flex-end;
         padding: 2rem;
     }

     #smellandtaste h3 {
         padding-bottom: 2rem;
     }

     #smellandtaste .container {
         max-width: 300px;
     }

     .barchart text {
         fill: #fff;
     }

     .barchart line {
         stroke: #fff;
     }
 }

 @media (min-width: 1000px) {
     /*   HEADER, SPLASH OG INTRO     */



     .overlay img {
         position: absolute;
         z-index: 2;
         margin-top: 15vw;
         margin-left: 80vw;
         width: 500px;
     }

     #splash_img {
         display: none;
     }

     #splash_can img {
         z-index: 5;
         margin-top: 25vw;
         margin-left: 10vw;
     }

     #splash h1,
     #splash h2 {
         color: #fff;
         font-size: 80px;
     }

     #splash_container {
         position: absolute;
         z-index: 2;
         margin-top: 25vw;
         margin-left: 10vw;
     }


     #intro,
     #databeskrivelse {
         max-width: 1200px;
         margin: 0 auto;
         padding: 3rem 2rem;
     }

     #intro div,
     #databeskrivelse div {
         width: 700px;
         padding: 0;
     }



     /*   GRAFER     */
     #personer {
         margin-left: 5rem;
     }

     #datagrid {
         padding: 0;
         padding-top: 3rem;
         display: grid;
         grid-template-columns: repeat(9, 1fr);
         grid-template-rows: repeat(6, 1fr);
     }

     #graph {
         grid-column: 2/7;
         grid-row: 1/5;
         padding: 0;
         display: grid;
         max-height: 600px;
     }

     #graph img {
         width: 200px;
         max-width: 200px;
         grid-column: 1/1;
         margin: auto;
     }

     .visdata {
         grid-column: 2/3;
         grid-row: 2/2;
         margin: auto;
         min-width: 300px;
     }

     #graphtxt {
         grid-row: 1/1;
         grid-column: 1/3;
         padding: 3em 3em 0em 3em;
     }

     #holder {
         grid-column: 2/3;
         grid-row: 2/2;
         height: 1rem;
         width: 180px;
         margin: auto;
     }


     #graph1 {
         display: grid;
         grid-gap: 20px;
     }

     #graphinfo {
         grid-column: 6/9;
         grid-row: 4/6;
         z-index: 10;
     }
